body{
    margin: 0;
    background-color: whitesmoke;
    font-family: 'Raleway', sans-serif;
}
.header{
    box-sizing: border-box;
    height: 400px;
    background-image: url("../3_CSS_Coffee/coffee-bgnd.jpeg");
    background-position: center;
    background-size: cover;
    /*padding-top: 130px;*/
}
h1{
    margin: 0;
    font-size: 100px;
    font-family: 'Covered By Your Grace', cursive;
    color: rgba(3, 150, 100, 0.75);
    text-align: center;
    padding-top: 130px;
}
.main{
    padding: 0;
    position: relative;
}
.main nav>div{
    margin: 100px 0;
    border-bottom: 3px solid chocolate;
    padding-bottom: 60px;
    height: 310px;
    overflow: auto;
}

.main div>h2{
    font-weight: 600;
    font-size: 28px;
    background-color: gold;
    text-align: center;
    text-transform: uppercase;
}
.column1{
    position: absolute;
    width: 49%;
}
.column2{
    position: absolute;
    left: 50%;
}
p{
    color: #444;
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
    text-indent: 32px;
    text-align: justify;
    line-height: 1.5;
}
a:link{
    color: #214e34;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none
}
a:visited{color: violet}
a:hover{color: red}
a:active{color: yellow}